<h1>LUPUS API DOCUMENTATION</h1>

<p><strong>UCI</strong></p>

<ul>
<li><a href="#add">Add: POST /uci/add</a></li>
<li><a href="#delete">Delete: POST /uci/delete</a></li>
<li><a href="#get">Get: GET /uci/get</a></li>
<li><a href="#get_all">Get all: GET /uci/get_all</a></li>
<li><a href="#get_configs">Get configs: GET /uci/get_configs</a></li>
<li><a href="#set">Set: POST /uci/set</a></li>
</ul>

<p><strong>System</strong></p>

<ul>
<li><a href="#reboot">Reboot the system: GET /system/reboot</a></li>
<li><a href="#restart_service">Restart a service: GET /system/restart_service</a></li>
<li><a href="#start_service">Start a service: GET /system/start_service</a></li>
<li><a href="#stop_service">Stop a service: GET /system/stop_service</a></li>
</ul>

<p><strong>Authentication</strong></p>

<ul>
<li><a href="#none">None</a></li>
<li><a href="#password">Password: POST</a></li>
</ul>

<p><a id="add"></a></p>

<h2>Add: POST /uci/add</h2>

<p>Add one or more anonymous sections of the given types to the given configs.</p>

<p><em>POST data:</em></p>

<pre><code>{
    "uci": {
        "config1.type1"[,
        "config2.type2",
        ...]
    }
}
</code></pre>

<p><em>Error codes:</em></p>

<ul>
<li>400 (Bad Request): If request format is not valid JSON format.</li>
</ul>

<p><em>Example</em></p>

<p>POST data:</p>

<pre><code>{
    "uci": {
        "network.type1",
        "system.type2"
    }
}
</code></pre>

<p>This will produce the following result:</p>

<pre><code># cat /etc/config/network:
...
config type1

# cat /etc/config/system:
...
config type2
</code></pre>

<p><a id="delete"></a></p>

<h2>Delete: POST /uci/delete</h2>

<p>Delete sections or options of a config.</p>

<p><em>POST data</em></p>

<p>To delete a whole section:</p>

<pre><code>{
    "uci": {
        "config.section"
    }
}
</code></pre>

<p>To delete an option of a section:</p>

<pre><code>{
    "uci": {
        "config.section.option"
    }
}
</code></pre>

<p><em>Error codes</em></p>

<ul>
<li>400 (Bad Request): If request format is not valid JSON format</li>
</ul>

<p><em>Examples</em></p>

<p>POST data:</p>

<pre><code>    {
        "uci": {
            "network.@interface[1]"
        }
    }
</code></pre>

<p>will remove the second section of type interface of network config file.</p>

<p>POST data:</p>

<pre><code>    {
        "uci": {
            "network.@interface[1].ipaddr"
        }
    }
</code></pre>

<p>will remove ipaddr option of the second section of type interface of network config file.</p>

<p><a id="get"></a></p>

<h2>Get: GET /uci/get</h2>

<p>Get the value of the given option or the type of the given section.</p>

<p><em>GET data:</em></p>

<p>To get an option's value:</p>

<pre><code>/uci/get/config.section.option
</code></pre>

<p>To get a type's section:</p>

<pre><code>/uci/get/config.section
</code></pre>

<p>Output format:</p>

<pre><code>{
    "config.section.option":"value"
}
</code></pre>

<p>or</p>

<pre><code>{
    "config.section":"type"
}
</code></pre>

<p><em>Error codes</em></p>

<ul>
<li>404 (Not found): If config.section.option does not exist.</li>
</ul>

<p><em>Examples</em></p>

<p>Request:</p>

<pre><code>/uci/get/system.ntp.enable_server
</code></pre>

<p>Response:</p>

<pre><code>    {
        "system.ntp.enable_server":"0"
    }
</code></pre>

<p>Request:</p>

<pre><code>/uci/get/system.ntp.server
</code></pre>

<p>Response:</p>

<pre><code>    {
        "system.ntp.server":["0.openwrt.pool.ntp.org","1.openwrt.pool.ntp.org","2.openwrt.pool.ntp.org","3.openwrt.pool.ntp.org"]
    }
</code></pre>

<p>Request:</p>

<pre><code>/uci/get/system.@system[0].hostname
</code></pre>

<p>Response:</p>

<pre><code>    {
        "system.@system[0].hostname":"OpenWrt"
    }
</code></pre>

<p>Request:</p>

<pre><code>/uci/get/network.lan.ipaddr
</code></pre>

<p>Response:</p>

<pre><code>    {
        "network.lan.ipaddr":"192.168.1.5"
    }
</code></pre>

<p>Request:</p>

<pre><code>/uci/get/network.@interface[2].ipaddr
</code></pre>

<p>Response:</p>

<pre><code>    {
        "network.@interface[2].ipaddr":"192.168.1.5"
    }
</code></pre>

<p>Request:</p>

<pre><code>/uci/get/network.loopback
</code></pre>

<p>Response:</p>

<pre><code>    {
        "network.loopback":"interface"
    }
</code></pre>

<p><a id="get_all"></a></p>

<h2>Get all GET /uci/get_all</h2>

<p>Get all sections and options for the given config or for all configs if no config is given.</p>

<p><em>Output format</em></p>

<p>If no config is given (/uci/get_all):</p>

<pre><code>{
    "config1":{
        "section1":{
            ".name":"section1",
            ".type":"section_type",
            ".index":0,
            ".anonymous":true|false,
            "option1":"value1",
            "option2":"value2",
        },
        "section2":{
            ".name":"sectin2",
            ".type":"section_type",
            ".index":1,
            ".anonymous":true|false,
            "option1":"value1",
            "option2":"value2",
        },
        ...
    },
    "config2":{
        ...
    },
    ...
}
</code></pre>

<p>If a config is given (/uci/get_all/config):</p>

<pre><code>{
    "section1":{
        ".name":"section1",
        ".type":"section_type",
        ".index":0,
        ".anonymous":true|false,
        "option1":"value1",
        "option2":"value2",
    },
    "section2":{
        ".name":"sectin2",
        ".type":"section_type",
        ".index":1,
        ".anonymous":true|false,
        "option1":"value1",
        "option2":"value2",
    },
    ...
}
</code></pre>

<p><em>Error codes</em></p>

<ul>
<li>404 (Not found): If config does not exist.</li>
</ul>

<p><em>Example</em></p>

<p>Request: /uci/get_all/system</p>

<p>Response format:</p>

<pre><code>    {
        "ntp":{
            ".name":"ntp",
            ".type":"timeserver",
            ".index":1,
            "enable_server":"0",
            ".anonymous":false,
            "server":["0.openwrt.pool.ntp.org","1.openwrt.pool.ntp.org","2.openwrt.pool.ntp.org","3.openwrt.pool.ntp.org"]
        },
        "cfg02e48a":{
            ".name":"cfg02e48a",
            ".type":"system",
            "hostname":"OpenWrt",
            ".index":0,
            ".anonymous":true,
            "timezone":"UTC"
        }
    }
</code></pre>

<p><a id="get_configs"></a></p>

<h2>Get configs GET /uci/get_configs</h2>

<p>Return file names in /etc/config</p>

<p>Response format:</p>

<pre><code>{
    "configs":["filename1","filename2",...]
}
</code></pre>

<p><em>Example</em></p>

<p>Response:</p>

<pre><code>    {
        "configs":["luci","network","firewall","dhcp","system","ucitrack","uhttpd","dropbear"]
    }
</code></pre>

<p><a id="set"></a></p>

<h2>Set POST /uci/set</h2>

<p>If an option name is given, set values of given options. If the option does not exist, it is added.</p>

<p>If no option name is given, add new sections with the type set to the given value.</p>

<p><em>POST data</em></p>

<pre><code>{
    "uci": {
        "config.section.option":"value",
        "config.type":"sectionname",
        ...
    }
}
</code></pre>

<p><em>Error codes</em></p>

<ul>
<li>400 (Bad Request): If request format is not valid JSON format</li>
</ul>

<p><em>Examples</em></p>

<pre><code>    {
        "uci": {
            "network.loopback.ipaddr": "127.0.0.1"
            "system.@system[0].hostname": "OpenWrt"
            "system.ntp.server":["0.openwrt.pool.ntp.org","1.openwrt.pool.ntp.org","2.openwrt.pool.ntp.org","3.openwrt.pool.ntp.org"]
            "system.@system[0].log_file": "/var/log/messages",
            "network.interface":"wlan0"
            "network.wlan0.ipaddr":"192.168.1.11"
        }
    }
</code></pre>

<p>This will produce the following result:</p>

<pre><code># cat /etc/config/network:
...
config interface loopback
    option ipaddr '127.0.0.1'

config interface wlan0
    option ipaddr '192.168.1.11'

# cat /etc/config/system:
config system
    ...
    option hostname 'OpenWrt'
    option log_file '/var/log/messages'

config timeserver 'ntp'
    ...
    list server '0.openwrt.pool.ntp.org'
    list server '1.openwrt.pool.ntp.org'
    list server '2.openwrt.pool.ntp.org'
    list server '3.openwrt.pool.ntp.org'
</code></pre>

<p><a id="reboot"></a></p>

<h2>Reboot GET /system/reboot</h2>

<p>Reboot the system.</p>

<p><em>GET data:</em></p>

<pre><code>/system/reboot
</code></pre>

<p><em>Error codes</em></p>

<ul>
<li>400 (Bad Request): If params are given.</li>
</ul>

<p><a id="restart_service"></a></p>

<h2>Restart a service GET /system/restart_service</h2>

<p>Restarts the given service.</p>

<p><em>GET data:</em></p>

<pre><code>/system/restart_service/service_name
</code></pre>

<p><em>Error codes</em></p>

<ul>
<li>400 (Bad Request): If service_name does not exist</li>
</ul>

<p><em>Examples</em></p>

<p>Request:</p>

<pre><code>/system/restart_service/firewall
</code></pre>

<p><a id="start_service"></a></p>

<h2>Sstart a service GET /system/start_service</h2>

<p>Starts the given service.</p>

<p><em>GET data:</em></p>

<pre><code>/system/start_service/service_name
</code></pre>

<p><em>Error codes</em></p>

<ul>
<li>400 (Bad Request): If service_name does not exist</li>
</ul>

<p><em>Examples</em></p>

<p>Request:</p>

<pre><code>/system/start_service/firewall
</code></pre>

<p><a id="stop_service"></a></p>

<h2>Stop a service GET /system/stop_service</h2>

<p>Stops the given service.</p>

<p><em>GET data:</em></p>

<pre><code>/system/stop_service/service_name
</code></pre>

<p><em>Error codes</em></p>

<ul>
<li>400 (Bad Request): If service_name does not exist</li>
</ul>

<p><em>Examples</em></p>

<p>Request:</p>

<pre><code>/system/stop_service/firewall
</code></pre>

<p><a id="none"></a></p>

<h2>None</h2>

<p>No authentication is needed. You don't have to add anything to POST data</p>

<p><a id="password"></a></p>

<h2>Password: POST</h2>

<p>A password must be provided to use the API.</p>

<p><em>POST data:</em></p>

<pre><code>{ "auth":
    {
        "password":"lupuspassword"}
    }
}
</code></pre>

<p><em>Error codes:</em></p>

<ul>
<li>401 (Unauthorized): If password is not the right one.</li>
</ul>
